/* Header */

@import "../base/variables";

header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: -0.1px;
    z-index: 3;
    grid-area: header;
}

.navbar {
    width: 100%;
    z-index: 2;
}

.background-navbar {
    background: url(../archivos-multimedia/header.jpg);
}

.lista-horizontal {
    list-style: none;
    font-size: $font-size-header;
    padding-left: 1.8rem;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header-inicio {
    text-shadow: $text-shadow-general;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header-el-taller {
    text-shadow: $text-shadow-general;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header-servicios {
    text-shadow: $text-shadow-general;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header-promociones {
    text-shadow: $text-shadow-general;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header-contacto {
    text-shadow: $text-shadow-general;
    text-decoration: underline;
    text-underline-position: under;
    color: white;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header {
    color: white;
    text-shadow: $text-shadow-general;
}

div.collapse.navbar-collapse#navbarSupportedContent ul.navbar-nav.me-auto.mb-2.mb-lg-0 li.nav-item.lista-horizontal a.nav-link.a-header:hover {
    color: rgba(22, 104, 199, 0.8);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.logo-header {
    width: 80%;
}

.logo-header:hover {
    transform: scale(1.03);
    transition: all 1s ease;
}

@media screen and (min-width: 481px) and (max-width: 980px) {

    html {
        font-size: 18px;
    }

    header nav.navbar.navbar-expand-lg.navbar-light.bg-light.background-navbar div.container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 480px) {

    html {
        font-size: 12px;
    }

    header nav.navbar.navbar-expand-lg.navbar-light.bg-light.background-navbar div.container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}


@media screen and (orientation: landscape) and (max-width: 700px) {
    .logo-header {
        width: 40%;
    }
}