/* Sección 1 de Promociones */

@import "../base/variables";
@import "../base/maps";

.section-1-promociones {
    grid-area: section-1-promociones;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 145px repeat(3, 0.5fr);
    grid-template-areas: 
    "h1-promociones h1-promociones"
    "p1-promo tarjetas-servicios"
    "billetes p2-promo"
    "p3-promo mercado-pago";
    align-items: center;
    background: url(./../archivos-multimedia/otrofondo.jpg);
}

.h1-promociones {
    padding: 5px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 1.8rem;
    color: map-get($promociones, font-color);
    text-align: map-get($promociones, text-align);
    text-shadow: $text-shadow-general;
    // background-color: $bg-color-general;
    grid-area: h1-promociones;
}

.p-section-promociones {
    padding: 5px;
    font-size: 1.6rem;
    color: map-get($promociones, font-color);
    text-shadow: $text-shadow-general;
    // background-color: $bg-color-general;
    text-align: map-get($promociones, text-align);
}

.p1-promo {
    grid-area: p1-promo;
}

.p2-promo {
    grid-area: p2-promo;
}

.p3-promo {
    grid-area: p3-promo;
}

.tarjetas-servicios {
    width: 100%;
    height: 100%;
    grid-area: tarjetas-servicios;
}

.billetes {
    width: 100%;
    height: 100%;
    grid-area: billetes;
}

.mercado-pago {
    width: 100%;
    height: 100%;
    grid-area: mercado-pago;
}

@media screen and (min-width: 481px) and (max-width: 980px) {

    html {
        font-size: 18px;
    }

    .section-1-promociones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem repeat(6, 0.5fr);
        grid-template-areas: 
        "h1-promociones"
        "p1-promo"
        "tarjetas-servicios"
        "p2-promo"
        "billetes"
        "p3-promo"
        "mercado-pago";
        grid-row-gap: auto;
        align-items: center;
    }
    
    .h1-promociones {
        text-shadow: 0.1rem 0.1rem black;
        grid-area: h1-promociones;
    }
    
    .p-section-promociones {
        text-shadow: 0.1rem 0.1rem black;
        text-align: center;
    }

    // .p1-promo {
    //     background: url(../archivos-multimedia/tarjetas.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p1-promo;
    //     padding: 5rem 5rem;
    // }

    // .p2-promo {
    //     background: url(../archivos-multimedia/billetes.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p2-promo;
    //     padding: 5rem 5rem;
    // }

    // .p3-promo {
    //     background: url(../archivos-multimedia/mercado-pago.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p3-promo;
    //     padding: 5rem 5rem;
    // }
    
    // .tarjetas-servicios {
    //     display: none;
    // }
    
    // .billetes {
    //     display: none;
    // }
    
    // .mercado-pago {
    //     display: none;
    // }
}

@media screen and (max-width: 480px) {

    html {
        font-size: 12px;
    }

    .section-1-promociones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem repeat(6, 0.5fr);
        grid-template-areas: 
        "h1-promociones"
        "p1-promo"
        "tarjetas-servicios"
        "p2-promo"
        "billetes"
        "p3-promo"
        "mercado-pago";
        grid-row-gap: auto;
        align-items: center;
    }
    
    .h1-promociones {
        text-shadow: 0.1rem 0.1rem black;
        grid-area: h1-promociones;
    }
    
    .p-section-promociones {
        text-shadow: 0.1rem 0.1rem black;
        text-align: center;
    }

    // .p1-promo {
    //     background: url(../archivos-multimedia/tarjetas.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p1-promo;
    //     padding: 5rem 5rem;
    // }

    // .p2-promo {
    //     background: url(../archivos-multimedia/billetes.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p2-promo;
    //     padding: 5rem 5rem;
    // }

    // .p3-promo {
    //     background: url(../archivos-multimedia/mercado-pago.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     line-height: 4rem;
    //     grid-area: p3-promo;
    //     padding: 5rem 5rem;
    // }
    
    // .tarjetas-servicios {
    //     display: none;
    // }
    
    // .billetes {
    //     display: none;
    // }
    
    // .mercado-pago {
    //     display: none;
    // }
}
