/* Sección 2 del INDEX */

@import "../base/variables";

.section-2-index {
    grid-area: section-2;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 145px 70px 145px 70px 145px 70px 155px;
    grid-template-areas: 
    "h2-section2-index h2-section2-index"
    "h3-1-section2-index img-section2-index"
    "p1-section2-index img-section2-index"
    "h3-2-section2-index img-section2-index"
    "p2-section2-index img-section2-index"
    "h3-3-section2-index img-section2-index"
    "p3-section2-index img-section2-index";
    align-items: center;
}

.h2-section-2 {
    font-size: 50px;
    text-decoration: underline;
    color: white;
    text-align: center;
    text-shadow: $text-shadow-general;
    background-color: $bg-color-general;
    grid-area: h2-section2-index;
}

.h3-section-2 {
    padding: 5px;
    font-size: 40px;
    text-decoration: underline;
    color: white;
    text-shadow: $text-shadow-general;
    background-color: $bg-color-general;
}

.h3-1-section2-index {
    grid-area: h3-1-section2-index;
}

.h3-2-section2-index {
    grid-area: h3-2-section2-index;
}

.h3-3-section2-index {
    grid-area: h3-3-section2-index;
}

.p-section-2 {
    padding: 5px;
    font-size: 35px;
    color: white;
    text-shadow: $text-shadow-general;
    background-color: $bg-color-general;
}

.p1-section2-index {
    grid-area: p1-section2-index;
}

.p2-section2-index {
    grid-area: p2-section2-index;
}

.p3-section2-index {
    grid-area: p3-section2-index;
}

.img-section2-index {
    grid-area: img-section2-index;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 481px) and (max-width: 980px) {

    .section-2-index {
        background: url(../archivos-multimedia/taller-mecanico-frente.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 6rem);
        grid-template-areas: 
        "h2-section2-index"
        "h3-1-section2-index"
        "p1-section2-index"
        "h3-2-section2-index"
        "p2-section2-index"
        "h3-3-section2-index"
        "p3-section2-index"
        "img-section2-index";

        align-items: center;
        justify-items: center;
    }

    .h2-section-2 {
        font-size: 2.3rem;
        padding: 0.3rem;
        align-self: start;
        width: 100%;
    }

    .h3-section-2 {
        text-align: center;
        font-size: 1.8rem;
        text-shadow: 0.1rem 0.1rem black;
        background-color: hsla(197, 78%, 46%, 0%);
    }

    .p-section-2 {
        text-align: center;
        font-size: 1.6rem;
        text-shadow: 0.1rem 0.1rem black;
        background-color: hsla(197, 78%, 46%, 0%);
    }

    .img-section2-index {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .section-2-index {
        background: url(../archivos-multimedia/taller-mecanico-frente.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem repeat(6, 8rem);
        grid-template-areas: 
        "h2-section2-index"
        "h3-1-section2-index"
        "p1-section2-index"
        "h3-2-section2-index"
        "p2-section2-index"
        "h3-3-section2-index"
        "p3-section2-index"
        "img-section2-index";

        align-items: center;
        justify-items: center;
    }

    .h2-section-2 {
        font-size: 2rem;
        align-self: start;
        width: 100%;
    }

    .h3-section-2 {
        text-align: end;
        font-size: 1.8rem;
        text-shadow: 0.1rem 0.1rem black;
        background-color: hsla(197, 78%, 46%, 0%);
    }

    .p-section-2 {
        text-align: center;
        font-size: 1.6rem;
        text-shadow: 0.1rem 0.1rem black;
        background-color: hsla(197, 78%, 46%, 0%);
    }

    .img-section2-index {
        display: none;
    }
  }