/* Sección 1 de contacto */

@import "../base/variables";
@import "../base/mixins";

.section-1-contacto {
    background: url(./../archivos-multimedia/otrofondo.jpg);
}

.h1-contacto {
    padding: 1rem;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
    text-shadow: $text-shadow-general;
    grid-area: h1-el-taller;
    @include properties(white, 1.8rem);
}

.form-label {
    color: white;
}

.invalid-feedback {
    text-shadow: 0.5px 0.5px white;
}