/* Body */

@import "variables";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 25px;
}

body {
    background-color: hsla(199, 93%, 71%, 100%);
    // background: url(./../archivos-multimedia/header.jpg);
    // // background-size: contain;
}

.grid-container-body-index {
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    "section-1"
    "section-2"
    "footer";
}

.grid-container-body-eltaller {
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    "section-1-eltaller"
    "footer";
}

.grid-container-body-servicios {
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    "section-1-servicios"
    "footer";
}

.grid-container-body-promociones {
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    "section-1-promociones"
    "footer";
}

.grid-container-body-contacto {
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    "section-1-contacto"
    "footer";
}

/* Tipografía */

p, li, h2, h3, h4, a {
    font-family: 'Lexend', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');